/** Reset **/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/** Defaults **/

a {
	text-decoration: none;
}

h1, h2, h3 {
	font-weight: normal;
}

/** Structure **/

html {
	min-height: 100%;
}

body {
	min-height: 100%;
	background-size: cover;
}

header > div {
	margin: 0 auto;
	width: 960px;
	position: relative;
	min-height: 50px;
}

.logo {
	display: inline-block;
	margin: 10px;
}

header nav {
	position: absolute;
	right: 0;
	bottom: 10px;
}

a.main {
	display: inline-block;
	padding: 0 10px;
}

.main-content {
	margin: 0 auto;
	width: 960px;
	padding-top: 1px; /* Collapsing Margins Fix */
}

.main-content::after {
	content: '';
	clear: both;
}

aside {
	float: left;
	width: 250px;
	padding-right: 10px;
}

main {
	margin-left: 250px;
}

.box {
	min-height: 50px;
	margin: 10px 0;
	padding: 10px;
	overflow: hidden; /* Incase someone wants to float an image */
}

aside .box {
	margin-left: 0;
	margin-right: 0;
}

aside h1, aside h2, aside h3 {
	margin-bottom: 10px;
}

aside a {
	display: block;
	padding: 3px 10px;
}

footer > div {
	margin: 0 auto;
	width: 960px;
	text-align: center;
	font-size: 8pt;
	color: #AAA;
}