* {
	font-family: 'Lato';
	color: #888;
}

body {
	background-image: url('images/leaf2.jpg');
}

a {
	color: rgb(0, 186, 255);
}

a.main {
	color: #CCC;
	text-transform: uppercase;
	font-size: 14pt;
	font-weight: 300;
}

header {
	background-color: #222;
}

div.logo {
	font-family: 'Lato';
	font-weight: 100;
	color: #CCC;
	font-size: 40pt;
}

div.box {
	background-color: #FFF;
	border-radius: 5px;
}

div.box.selected {
	background-color: yellow;
}

h1 {
	font-family: 'Courgette';
	color: #444;
}

h2 {
	font-family: 'Courgette';
	color: #444;
}

p {
	font-size: 16pt;
	line-height: 150%;
}