/*

Use These Properties
------------------------
font-family: 'Lato';
font-family: 'Courgette';
font-size: 14pt;
font-size: 40pt;
font-size: 16pt;
font-weight: 300;
font-weight: 100;
color: #888;
color: rgb(0, 186, 255);
color: #444;
color: #CCC;
background-image: url('images/leaf2.jpg');
background-color: #222;
text-transform: uppercase;
border-radius: 5px;
line-height: 150%;



Extra Fun
------------------------------
text-shadow: 2px 2px #ff0000;

*/


* {

}

body {
	background-color: #EEE;
}

a {

}

a.main {

}

header {
	background-color: #AAA;
}

div.logo {

}

div.box {
	background-color: #FFF;
}

h1 {

}

h2 {

}

p {

}